/* Inter font - FW [500] */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* start: default css & reset */

/* START: scrollbar */
/* * {
    scrollbar-width: auto;
    scrollbar-color: var(--color-primary);
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
} */

/* END: scrollbar */

:root {
    --font-family-primary: 'Inter', sans-serif;
    --color-white: #FFFFFF;
    --color-primary: #1E4387;
    --color-warning: #F36A22;
    --color-warning-hover: #DB5E1B;
    --color-info: #F4F8FF;
}

body {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

:is(.rounded) {
    border-radius: 4px !important;
}

:is(a) {
    text-decoration: unset !important;
    color: unset !important;
}

/* end: default css & reset */

/* start: backgrounds */
.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-info {
    background-color: var(--color-info) !important;
}

/* end: backgrounds */

/* start: buttons */
.btn-warning {
    background-color: var(--color-warning) !important;
    border-color: var(--color-warning) !important;
    color: var(--color-white) !important;
}

.btn-warning:is(:hover) {
    background-color: var(--color-warning-hover) !important;
    border-color: var(--color-warning-hover) !important;
}

/* end: buttons */