/* Inter font - FW [500] */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* start: default css & reset */

:root {
    --font-family-primary: 'Inter', sans-serif;
    --color-white: #FFFFFF;
    --color-dark: #000000;
    --color-primary: #1E4387;
    --color-warning: #F36A22;
    --color-alice-blue: #F4F8FF;
    --color-info: #D8E0EE;
}

body {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: var(--color-alice-blue);
}

:is(.rounded) {
    border-radius: 4px !important;
}

:is(a) {
    text-decoration: unset !important;
    color: unset !important;
}

/* end: default css & reset */

/* start: backgrounds */
.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-alice-blue {
    background-color: var(--color-alice-blue) !important;
}

.bg-info {
    background-color: var(--color-info) !important;
}

/* end: backgrounds */

/* start: text */
.text-warning {
    color: var(--color-warning) !important;
}

/* end: text */

/* start: buttons */
.btn-warning {
    background-color: var(--color-warning) !important;
    border-color: var(--color-warning) !important;
    color: var(--color-white) !important;
}

.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

/* end: buttons */

/* start: sidenav */
.btn-close:focus,
.navbar-toggler:focus {
    box-shadow: unset;
    outline: unset;
}

.sidenav .nav .nav-link.active {
    border-bottom: 2px solid var(--color-warning);
}

/* end: sidenav */

/* start: main content */

.border-warning {
    border-color: var(--color-warning) !important;
}

.nav-pills .nav-link {
    color: var(--color-dark);
}

.nav-pills .nav-link.active {
    color: var(--color-dark);
    background-color: unset;
    border-bottom: 2px solid var(--color-warning);
    border-radius: unset;
}

.pagination {
    --bs-pagination-bg: unset;
    --bs-pagination-border-color: unset;
    --bs-pagination-disabled-bg: unset;
}

.pagination .active>.page-link {
    background-color: var(--color-white);
    color: var(--color-dark);
    border: 2px solid var(--color-info);
    border-radius: 4px;
}

.additional_notes_button {
    bottom: 30px;
    right: 4%;
}



/* forms */
.form-check-input:is(:focus) {
    box-shadow: unset;
    outline: unset;
}

.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
}

.form-check-input:checked {
    background-color: var(--color-primary);
}




/* responsive */

@media (max-width: 768px) {
    .nav.nav-pills {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}